$align: left;
$bg-color: #dedede;
$color-01: #595;
$color-02: #999;
$color-03: #f00;
$color-04: #222;
$color-default: #444;
$font-big: 2.5rem;
$font-medium: 2rem;
$font-normal: 1.8rem;
$font-small: 1.2rem;
$mb: 2rem;
$mt: 2rem;
$mt-02: 2rem;
$space-default: 1.5rem;
$tablet: 999px;
$font-family-default: Arial,
Helvetica,
sans-serif;