.modal {
    margin-top: 30px;
    .modal-header {
        background-color: $color-04;
        h3 {
            color: $bg-color;
            font-size: 2.5rem;
        }
    }
    .modal-body {
        padding: 15px;
        p {
            color: $color-04;
            font-size: 1.75rem;
        }
    }
}