@media only screen and (max-width: 1199px) {
    #player {
        #video {
            width: 650px
        }
    }
}

@media only screen and (max-width: 760px) {
    #vetoriais {
        h1 {
            font-size: 2.25rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
    #imagens {
        h5 {
            padding-left: 0;
            margin-bottom: 5rem;
            font-size: 1.25rem;
            text-align: center;
        }
        .container {
            grid-template-columns: repeat(1, 1fr);
            .card {
                .passosTexto {
                    font-size: 1.25rem;
                }
            }
        }
    }
    #videos {
        h5 {
            padding-left: 0;
            margin-bottom: 5rem;
            font-size: 1.25rem;
            text-align: center;
        }
    }
    #player {
        #video {
            width: 300px;
        }
    }
}