div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: #1A1A1A;
    margin-top: 231px;
    h1 {
        margin-left: 206px;
        font-size: 31px;
        color: #FFFFFF;
    }
    p {
        margin-right: 162px;
        color: #FFFFFF;
    }
}