body {
    background-color: #bcbcbc;
    .container {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        background-color: #fff;
        padding: 10px;
        margin-top: 100px;
        .titulo {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
        }
        .form {
            .fields {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 20px;
                padding: 0 150px;
                .input-group {
                    label {
                        font-size: 12.5px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        margin-bottom: 10px;
                    }
                    .item {
                        width: 200px;
                        margin: 0 auto;
                        padding: 10px;
                        text-align: center;
                        font-size: 15px;
                    }
                }
            }
            #botao {
                margin: 25px 0;
                font-size: 15px;
                font-weight: 600;
                padding: 10px 20px;
                grid-template-columns: 2fr;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        .container {
            .fields {
                .form {
                    padding: 0px 45px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        .container {
            margin-top: 50px;
            .titulo {
                font-size: 25px;
            }
            .form {
                .fields {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    padding: 0px 0px;
                    .input-group {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}