$color-font: #fff;
$color-01: #3981C3;
$color-02: #008037;
$color-03: #DD4F3F;
$color-04: #F4B30E;
$color-05: #f2f2f2;
$color-shadow: #818181;
$font-light: 'comfortaa',
sans-serif;
$font-bold: 'comfortaa-bold',
sans-serif;